// colors
$background-color: #fff
$nav-color: #fff
$header-color: #525349
$brand-color: #b31c27
$footer-color: #525349
$text-color: #525349
$text-color-2: #fff

//text sizes
$header-text-size: 5.1vw
$paragraph-text-size: 1.2vw
$paragraph-text-size-mobile: 2vw

//section height
$section-height: 95vh

//section padding
$section-padding: 5% 0
