// colors
$background-color: #F2F6E5
$footer-color: #646665
$text-color: #1F1F1F
$header-color: #C4EB36

//text sizes
$header-text-size: 5.5vw
$paragraph-text-size: 3.5vw

//section height
$section-height: 85vh

//section padding
$section-padding: 4% 0
