// colors

// white
$background-color: #fff
$nav-color: #fff
$text-color-2: #fff
// gray
$header-color: #525349
$footer-color: #525349
$text-color: #525349
// red
$brand-color: #b31c27
// green
$green-color: #5d8f3f
// orange
$orange-color: #e59500
//light gray
$light-gray-color: #988f7a

//text sizes
$header-text-size: 3.5vw
$paragraph-text-size: 1.2vw
$paragraph-text-size-mobile: 2vw

//section height
$section-height: 100vh

//section padding
$section-padding: 10% 0
