#hero
  height: $section-height
  background-color: $background-color

#about
  background-color: $footer-color

#skills
  background-color: $background-color

#work
  background-color: $footer-color

#find
  background-color: $background-color
