#hero
  height: $section-height
  background: url('https://www.richardsouthard.com/pics/image/main-min.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-color: $background-color

#about
  background-color: $background-color

#skills
  background-color: $background-color

#work
  background-color: $background-color

#find
  background-color: $background-color
