.nav_custom
  background: transparent
  background-color: $nav-color
  padding: 0 1rem
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)

.icon-bar
  color: #fff

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1)
  transform: translate3d(0,0,0) rotate(0deg)

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2)
  transform: translate3d(0,0,0) rotate(0deg)

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3)
  transform: translate3d(0,0,0) rotate(0deg)

.navbar-toggle.minus .icon-bar:nth-of-type(1)
  transform: translate3d(0,6px,0)

.navbar-toggle.minus .icon-bar:nth-of-type(3)
  transform: translate3d(0,-6px,0)

.navbar .navbar-brand
  font-size: 3.5rem
  color: $brand-color

.navbar .navbar-brand:hover
  color: $orange-color

.navbar-dark .navbar-nav .nav-link
  font-size: 1.5rem
  color: $header-color

.navbar-dark .navbar-nav .nav-link:hover
  color: $green-color

.navbar-expand-lg .navbar-nav .nav-link
  padding-right: 4.5rem
  padding-left: 4.5rem

.intro
  font-size: 50px
  color: $text-color-2
  padding-top: 25%

.about
  font-size: $header-text-size
  color: $header-color
  padding: $section-padding

.about_me
  color: $orange-color

.pics_me img
  width: 40rem
  height: auto
  background-color: $footer-color
  margin-top: 5px

.skills
  font-size: $header-text-size
  color: $header-color
  padding: $section-padding

.skill_text
  padding-left: 0

.progress
  height: auto
  margin-bottom: 2rem

#skills .bg-success
  padding-top: 1.5rem
  background-color: $footer-color !important

.works
  font-size: $header-text-size
  color: $header-color
  padding: $section-padding

.my_work img
  background-color: $footer-color
  width: 100%
  height: auto

.my_work h2
  font-size: $paragraph-text-size

.my_work:first-child
  padding-left: 0

.my_work:last-child
  padding-right: 0

.finds
  font-size: $header-text-size
  color: $header-color
  padding: $section-padding
  margin-bottom: 1rem

.find_pic
  background-color: $footer-color
  width: 5rem
  height: auto


.social

@media screen and (max-width: 1024px)

  .about p
    font-size: $paragraph-text-size-mobile

  .skill_text p
    font-size: $paragraph-text-size-mobile

  .works p
    font-size: $paragraph-text-size-mobile
