.nav_custom
  background: transparent
  background-color: $footer-color

.icon-bar
  color: #fff

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1)
  transform: translate3d(0,0,0) rotate(0deg)

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2)
  transform: translate3d(0,0,0) rotate(0deg)

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3)
  transform: translate3d(0,0,0) rotate(0deg)

.navbar-toggle.minus .icon-bar:nth-of-type(1)
  transform: translate3d(0,6px,0)

.navbar-toggle.minus .icon-bar:nth-of-type(3)
  transform: translate3d(0,-6px,0)

.navbar .navbar-brand
  font-size: 4rem
  color: $header-color

.navbar-dark .navbar-nav .nav-link
  font-size: 2rem
  color: $header-color

.intro
  font-size: 50px
  color: $text-color
  margin-top: 25%

.about
  font-size: $header-text-size
  color: $header-color
  padding-top: 5%

.lead
  color: $text-color
  font-weight: 400
  padding-top: 5%
  text-align: justify

.pics_me
  width: 8rem
  height: 17rem
  background-color: $background-color
  padding-top: 5%

.skills
  font-size: $header-text-size
  color: $text-color
  padding-top: 5%
